:root {
  --main-bg      : #F7BF50;
  --main-bg-hover: #ffdc98;
  --main-text-color    : #000000;
  --main-text-hover   : #ffffff;
  --header-height: 138px;
  --default-spacing: 15px;
}

@font-face {
  font-family: "Teko";
  src        : url("../public/fonts/Teko/Teko-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Teko";
  src        : url("../public/fonts/Teko/Teko-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Teko";
  src        : url("../public/fonts/Teko/Teko-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Teko";
  src        : url("../public/fonts/Teko/Teko-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Teko";
  src        : url("../public/fonts/Teko/Teko-Bold.ttf") format("truetype");
  font-weight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Teko", sans-serif;
  font-size  : 16px;
  line-height: 21px;
  font-weight: 400;
  color: var(--main-text-color);
  //overflow-y: hidden;
  //max-height: 100vh;
  //height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: "Teko";
}

.dynamic-navbar {
  position: sticky;
  width: 100%;
  bottom: 0;
}

.dynamic-navbar.hide {
  transform: translateY(100%);
}

.dynamic-navbar.show {
  transform: translateY(0);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
