@import "./styles/colors.module";

.header {
  background-color: $main-yellow;
  &Inner {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }
  &Logo {
    img {
      max-width: 200px;
      width: 100%;
    }
  }
  &Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    width: 100%;
    &Menu {
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
    &Item {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
    }
    &Link {
      
    }
  }
  &Slogan {
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
    &Text {
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
}
